# Node
node_modules/
npm-debug.log
yarn-error.log
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# React Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Vercel
.vercel/
